.cart{
	width: 100%;
}

.products{
	width: 60%;
	display: flex;
	flex-direction: column;
}

.overview{
	width: 40%;
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	padding: 0 20px;
}

.product{
	width: 100%;
	display: flex;
	flex-direction: column;
	border: 2px solid #eee;
	margin: 10px 0;
	justify-content: center;
}

.productImage{
	height: auto;
	object-fit: cover;
}
.productContent{
	display: flex;
	padding: 0 20px;
	border-left: 2px solid #eee;
	position: relative;
	flex-direction: column;
	width: 20%;
	justify-content: center;
	text-align: center;
}

.boxLine{
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width:  481px){
	.overview{
		width: 100%;
	}

	.productContent{
		border-left: none;
		width: 100%;
		padding: 0;
		border-bottom: 2px solid #eee;
		margin: auto;
	}

	.product{
		margin: 10px;
	}
}