.historyTable{
	width: 100%;
	table-layout: fixed;
	overflow-wrap: break-word;
	border: 2px solid #eee;
	border-radius: 5px;
	border-collapse: collapse;
}

.historyTable>tbody>tr:first-child{
	border-bottom: 2px solid #eee;
}

.historyTable>tbody>tr{
	text-align: center;
	height: 50px;
}

.rotate{
	transform: rotate(180deg);
}

.historyTable>tbody>td, .historyTable>tbody>th{
	border-right: 2px solid #eee;
}

.historyTable>tbody>tr:nth-child(even){
	background-color: #f4f7f8;
}
