body{
	padding: 0;
	margin: 0;
}

.buttonNavi{
	text-align: center;
	line-height: 100px;
	text-decoration: none;
	color: black;
	font-family: inherit;
}

.active{
	color: #ff0000;
}

.buttonBuy{
	padding: 13px 16px;
	background-color: #e9500e;
	color: #fff;
	cursor: pointer;
	text-align: center;
}

.container{
	align-items: center;
}

.topBar{
	position: fixed;
	border-bottom: 1px solid #eee;
	width: 100%;
	padding: 5px 0;
	height: 100px;
	top: 0;
	left: 0;
	background: #fff;
}

.barList{
	display: flex;
	justify-content: center;
	gap: 20px;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.content{
	margin: auto;
	display: flex;
	max-width: 1400px;
	flex-wrap: wrap;
	margin-top: 200px;
	justify-content: center;
}

.footer{
	width: 100%;
	height: 100px;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
	border-top: 1px solid #eee;
	background: #fff;
	margin-top: 20px;
}