.productDesc{
	white-space: nowrap;
	color: #666;
	overflow: hidden;
	text-overflow: ellipsis;
}

.product{
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 15px 8px;
	box-sizing: border-box;
}

.ulOffer{
	list-style-type: none;
	padding: 0;
}

.productImage{
	height: auto;
	object-fit: cover;
	transition: 0.2s;
}

.productTitle{
	text-align: left;
}

.quickView{
	height: 100%;
	box-sizing: border-box;
	flex-direction: column;
	display: flex;
	width: 100%;
	position: relative;
	transition: 0.2s;
}

.imgA{
	position: relative;
	display: flex;
	flex-direction: column;
}

.quickView:hover{
	-webkit-box-shadow: 0px 8px 30px -6px rgba(66, 68, 90, 1);
	-moz-box-shadow: 0px 8px 30px -6px rgba(66, 68, 90, 1);
	box-shadow: 0px 8px 30px -6px rgba(66, 68, 90, 1);
	transition: 0.2s;
}

.product--triger{
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: rgba(0, 0, 0, 0.3);
	box-sizing: border-box;
	padding: 15px;
	opacity: 1;
	transition: 0.3s;
}

@media screen and (max-width:  480px){
	.product{
		width: 100%;
	}
}

@media screen and (min-width:  481px){
	.product{
		width: 50%;
	}
}

@media screen and (min-width:  1025px){
	.product{
		width: 25%;
	}
}