.productImage{
	width: 70%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	position: relative;
	flex-wrap: wrap;
}

.productOfferBox{
	width: 30%;
	display: flex;
	flex-direction: column;
	padding: 0 30px;
	box-sizing: border-box;
}

.image{
	padding: 20px;
	height: auto;
	object-fit: cover;
	display: block;
	width: 50%;
	box-sizing: border-box;
}

.size--desc{
	font-size: 0.9rem;
	color: #666;
	padding: 10px 0;
	border-bottom: 2px solid #eee;
}

.size--box{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.box{
	width: 20%;
	padding: 10px;
	display: flex;
	justify-content: center;
	border: 2px solid #eee;
	cursor: pointer;
}

.ulOffer{
	list-style-type: none;
	padding: 0;
}

@media screen and (max-width: 480px){
	.productImage{
		width: 100%;
		flex-direction: column;
		align-content: center;
	}

	.productOfferBox{
		width: 100%;

	}
}