.payBox{
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
}

.payLine{
	display: flex;
	flex-direction: row;
	text-align: center;
}

.space{
	margin: 10px;
}

.methodImg{
	height: 50px;
}

.payForm{
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.payNavi{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: center;
}

.payButtons{
	display: flex;
	flex-direction: row;
	gap: 20px;
	justify-content: center;
}

.payList{
	display: flex;
	flex-direction: row;
	gap: 30px;
	margin-bottom: 50px;
}

.payMenu--item{
	height: 50px;
	width: 50px;
	border: 1px solid black;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.payMenu--item-blue{
	border: 1px solid blue !important;
	color: blue;
}

.payMenu--item-green{
	border: 1px solid green !important;
	color: green;
}